# Telegram Bot Kütüphaneleri
telethon>=1.29.3

# Web Scraping
requests>=2.31.0
beautifulsoup4>=4.12.2
cloudscraper>=1.2.71

# Veri İşleme
python-dotenv>=1.0.0
ftfy>=6.1.1

# Veritabanı
sqlite3  # Python'un standart kütüphanesinde yer alıyor

# Async İşlemler
asyncio  # Python 3.7+ standart kütüphanesinde

# Diğer Yardımcılar
lxml>=4.9.3
html5lib>=1.1